<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @section_content.section_id %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @section_content.lesson_id %>
</p>

<%= link_to 'Edit', edit_section_content_path(@section_content) %> |
<%= link_to 'Back', section_contents_path %>
