
<!doctype html>
<html lang="en">
	<%= render 'layouts/header' %>
	<body>
		<div class="welcome-banner">
			<div class="banner-text">
				<h1>Welcome to Clef!</h1>
				<div class="banner-search"> 
					<h3>Looking for something specific?</h3>
					<%= render :partial => 'layouts/search_partial' %> 
				</div>
			</div>
		</div>
		<div class="home">
			<div class="flex-container top-row">
				<%= render :partial => 'layouts/tag_buttons', :locals => { :tags_to_show => get_important_tags(9)}%>
				<div class="whats-new">
					<%= render :partial => "layouts/whats_new", :locals => { :new_courses => recent_courses(5)} %>
				</div>
			</div>
			<div class="row bottom-row">
				<div class="col">
					<%= render :partial => "layouts/about" %>
				</div>
			</div>
		</div>

		<!-- <footer class="page-footer font-small blue pt-4">
			<%= render :partial => "layouts/about" %>
		</footer> -->
	</body>
</html>