<h4>Search</h4>
<%= form_tag(search_search_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">
    Search for a lesson.<br />
    Features supported:<br />
    <ul>
        <li>Exact lesson name search</li>
        <li>Approximate lesson name search</li>
        <li>Exact lesson body search</li>
        <li>Approximate lesson body search</li>
    </ul>
    <div class="input-group mb-3 search-field">
        <%= search_field_tag :search_text, params[:search], placeholder: "Search for a lesson", class: "form-control" %>
        <div class="input-group-append search-button-area">  
            <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
        </div>  
    </div>  
  </div>  
<% end %>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
Results:
<hr>

<div>
    <ul>
        <% if @lessons.empty? %>
            No results
        <% else %>
            <% @lessons.each do |result_relation| %>
                <% result_relation.each do |result| %>
                    <li>
                        Lesson title: <%= link_to result.title, result, class: "btn nav-btn" %>
                        by user <%= result.user_id %>
                    </li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>

<hr>
