<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @course_content.section_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_content.course_id %>
</p>

<%= link_to 'Edit', edit_course_content_path(@course_content) %> |
<%= link_to 'Back', course_contents_path %>
