<p id="notice"><%= notice %></p>
<div class="center jumbotron">
  <h1><%= @user.username %></h1>
  <h2>
    <%= @user.email %>
  </h2>
  <br />
</div>
<div class="user-lessons container-fluid">
  <h3 class="center">
    <%= @user.username %>'s lessons
  </h3>
  <hr>
  <ul>
    <% @user.lessons.each do |lesson| %>
      <li>
        <%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson } %>
      </li>
    <% end %>
  </ul>
</div>
<div class="user-lessons container-fluid">
  <h3 class="center">
    <%= @user.username %>'s progress on courses
    <%= @test_value %>
  </h3>
  <hr>
  <ul>
      <%= @courses_with_progress %>
    <% @courses_with_progress.each do |course| %>
      <li>

        <%= render :partial => "layouts/course_partial", :locals => { :course => course } %>
        <%= render :partial => "layouts/course_progress_bar", :locals => { :course => course } %>
      </li>
    <% end %>
  </ul>
</div>
