<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <h1><%= @user.username %></h1>

  <h2>
    <%= @user.email %>
  </h2>

  <br />
</div>

<div class="user-lessons container-fluid">
  <h3 class="center">
    <%= @user.username %>'s lessons
  </h3>
  <hr>
  <ul>
    <% @user.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.title, lesson, class: "btn" %>
        <hr>
        <h5><%= lesson_excerpt(lesson) %></h5>
        <hr>
      </li>
    <% end %>
  </ul>
</div>
