<p id="notice"><%= notice %></p>
<div class="center jumbotron">
  <h1><%= @user.username %></h1>
  <h2>
    <%= @user.email %>
  </h2>
  <br />
</div>
<div class="user-lessons container-fluid">
  <h3 class="center">
    <%= @user.username %>'s lessons
  </h3>
  <hr>
  <ul>
    <% @user.lessons.each do |lesson| %>
      <li>
        <%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson } %>
      </li>
    <% end %>
  </ul>
</div>
<div class="user-lessons container-fluid">
  <h3 class="center">
    <%= @user.username %>'s progress on courses
    <%= @test_value %>
  </h3>
  <hr>
  <ul>
    <% @courses_with_progress.each do |course| %>
      <li>
        <% outputLine = "Course: " + course.title %>
        <%= link_to outputLine, course, class: "btn option-btn" %>
        Progress: <%= @progress_in_courses[course] %>
      </li>
    <% end %>
  </ul>
</div>
