<p id="notice"><%= notice %></p>
<br>
<h1>Tags</h1>
<div class="home unlimited">
	<div class="flex-container top-row">
    <div class="tag-buttons">
        <% @tags.each do |tag| %>
            <%= link_to "#", id:"tag#{tag.id}s", class:"tag-btn", :data => {:tag_id => tag.id }  do%>
                <div class="tag-button">
                    <%= tag.name %>
                </div>
            <% end %>
        <% end %>
        <div class="tag-button">
          <%= render :partial => 'layouts/create_tags', :locals => { :tag => Tag.new} %>
        </div>
    </div>

    <div class="search-results tag-display">
      <% @tags.each do |tag| %>
        <div id=<%="tag#{tag.id}"-%> class="individual-tags">
            <%= render :partial => "show_display", :locals => { :courses => @tag_relation_c[tag], :lessons => @tag_relation_l[tag], :tag => tag } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>

<%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.mins.js"></script> %>
<script>  
  $(document).ready(function() {
    $('.tag-btn').click(function(event) {
      $('.individual-tags').hide();
      var id = $(this).data('tag-id');
      console.log($(this).data('tag-id'));
      event.preventDefault();
      $('#tag'+id).toggle();
    });
  });

  $(document).ready(function() {
    var id = "<%= @start %>";
    console.log(id);
    $('#tag'+id).show();
  });  
</script>

<!--<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>-->
    <!--<div class="wrapped"> 
        <% @tags.each do |content_tag| %>
            <%= link_to content_tag, class:"badge" do %>
                <%= content_tag.name %>
            <% end %>
        <% end %>
        <%= form_with(model: @new_tag, local: true) do |form| %>
          <% if @new_tag.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

              <ul>
                <% @new_tag.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%=form.text_field :name, class:"badge", placeholder:"+"%>
        <% end %>
    </div>-->
    <!--<% @tags.each do |tag| %>
      <tr>
        <td><%= tag.category %></td>
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
-->