<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_with model: @lesson, local: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <br/>
      <%= f.label :body %>
      <%= f.rich_text_area :body %>

      <%= render :partial => "layouts/add_tag", :locals => { :f => f, :tag_relation => @lesson_tags, :tag => @tags }%>

      <% if params.has_key?('lesson') %>
        <% if params['lesson'].has_key?('section_id') %>
          <%= hidden_field_tag(:section_id, params['lesson']['section_id']) %>
        <% end %>
      <% end %>

      

      <%= f.submit "Publish", class: "btn form-btn" %> 
    <% end %>
  </div>
</div>
