<p id="notice"><%= notice %></p>

<script src="/js/show.js.erb"></script>
<script>

  $(document).ready(function () {
    AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

    complete_button = document.getElementById("btn-complete[<%= lesson.id %>]");
    uncomplete_button = document.getElementById("btn-undo-complete[<%= lesson.id %>]");
    user_button = document.getElementById("user-button-<%= lesson.user.username %>");

    // Add complete/undo completion functionality to the buttons.
    $(complete_button).click(function () {
      $.ajax({
        type: "POST",
        url: "/progress/complete",
        data: {
          'lesson_id': <%= lesson.id %>,
          'authenticity_token': AUTH_TOKEN
        }
      })
    });

    $(uncomplete_button).click(function () {
      $.ajax({
        type: "POST",
        url: "/progress/undo",
        data: {
          'lesson_id': <%= lesson.id %>,
          'authenticity_token': AUTH_TOKEN
        }
      });
    });
  });
</script>


<div class="lesson-content">
  <div class="center lesson-show-head">
    <h2><%= lesson.title %></h2>
    <h4>
      <p>by: <a href="<%= user_path(lesson.user) %>"><%= lesson.user.username %></a></p>
    </h4>

    <%= render :partial => "layouts/tag_display_partial", locals: { :content => lesson } %>

  </div>

  <div id="user-modal" class="modal">
    <!-- Modal content -->
    <div class="user-modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2><%= link_to lesson.user.username, lesson.user %></h2>
      </div>
      <div class="modal-body">
        <p>This will contain more information about the user who wrote this lesson.</p>
      </div>
    </div>
  </div>

  <center>
    <% if course == nil %>
    <form action="">
      AUTO SCROLL
      <input type="button" id="auto-scroll-button" value="OFF" onclick="toggle(this);">
    </form>
    <% end %>
  </center>


  <br />

  <div class="lesson">
    <p>
      <%= lesson.body %>
    </p>
    <% if logged_in? %>
    <% if course != nil %>
    <% if current_user.id == course.user_id %>
    <button class="btn complete-button" id="btn-delete[<%= lesson.id %>]" type="button">Delete Lesson</button>
    <% end %>
    <% end %>
    <% end %>
  </div>

  <center>
    <% if logged_in? %>
    <% if !Set.new( Progress.where(user_id: current_user.id).map {|progress| progress.lesson_id}).include?(lesson.id) %>
    <button class="btn complete-button" id="btn-complete[<%= lesson.id %>]" type="button">Complete!</button>
    <%#= button_to 'Complete!', {:controller => "progress", :action => "complete"}, params: {lesson_id: lesson.id} %>
    <% else %>
    <button class="btn complete-button" id="btn-undo-complete[<%= lesson.id %>]" type="button">Undo Completion</button>
    <%#= button_to 'Undo Completion', {:controller => "progress", :action => "undo"}, params: {lesson_id: lesson.id} %>
    <% end %>
    <% else %>
    Log in to save progress!
    <% end %>
  </center>

  <div class="comment-section">
    <h3>Comments</h3>
    <div class="comment-form">
      <% if logged_in? %>
      <%= form_with model: @comment, url: lesson do |f| %>
      <%= f.text_area :text, class:"comment-text"%>
      <% if @course != nil %>
      <%= f.hidden_field(:redirect_to, value: @course.id) %>
      <% end %>

      <%= f.submit "Publish", class: "publish-btn btn comment-publish" %>
      <% end %>
      <% else %>
      Log in to post comments!
      <% end # if logged_in? %>
    </div>

    <br />
    <div class="comments-container">
      <% lesson.comments.each do |comment| %>
      <div class="comment-container">
        <strong><%= link_to  comment.user.username, comment.user %></strong>: <%= comment.text %>
      </div>
      <% end %>
    </div>
  </div>

  <div id="stop_scroll_notice"></div>
</div>