<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<<<<<<< HEAD
<div class="container">
	<div class="card-deck">
		<% @lessons.in_groups_of(4) do |lesson1, lesson2, lesson3, lesson4| %>
			<% if not lesson1.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson1 } %>
			<% end %>
			<% if not lesson2.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson2 } %>
			<% end %>
			<% if not lesson3.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson3 } %>
			<% end %>
			<% if not lesson4.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson4 } %>
			<% end %>
		<% end %> 
	</div>
</div>
=======
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Body</th>
      <th>Section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.user_id %></td>
        <td><%= lesson.body %></td>
        <td><%= lesson.section_id %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

>>>>>>> c7edb5cc27c47ba26bb501465a8ccc6cbd4facc4
<br>

<%= link_to 'New Lesson', new_lesson_path %>
