<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<div class="container">
	<div class="card-deck">
		<% @lessons.in_groups_of(4) do |lesson1, lesson2, lesson3, lesson4| %>
			<% if not lesson1.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson1 } %>
			<% end %>
			<% if not lesson2.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson2 } %>
			<% end %>
			<% if not lesson3.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson3 } %>
			<% end %>
			<% if not lesson4.nil? %>
				<%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson4 } %>
			<% end %>
		<% end %> 
	</div>
</div>
<br>

<%= link_to 'New Lesson', new_lesson_path %>
