<p id="notice"><%= notice %></p>

<script src="/js/show.js.erb"></script>

<h2 class="center"><%= @lesson.title %></h2>

<div class="center lesson-show-head">
  <h4>
    <p>by<div id="user-button"><button><%= @lesson.user.username %></button></div></p>
  </h4>
</div>

<div id="user-modal" class="modal">
  <!-- Modal content -->
  <div class="user-modal-content">
    <span class="close">&times;</span>
    <p>Users top lessons will go here. Or user info. I don't know. This took a while to make.</p>
  </div>
</div>

<br/>

<div class="container">

<p>
<%= @lesson.body %>
</p>

</div>

<div class="comment-section container">
  <h3>Comments</h3>

  <% if logged_in? %>
    <%= form_with model: @comment do |f| %>
      <%= f.text_area :text, class:"comment-text"%>
      <%= f.submit "Publish", class: "publish-btn btn" %>
    <% end %>
  <% end # if logged_in? %>

  <br/>

  <div class="comments-container container">
    <% @lesson.comments.each do |comment| %>
    <div class="comment-container container">
      <strong><%= comment.user.username %></strong>: <%= comment.text %>
    </div>
    <% end %>
  </div>
</div>
