<p id="notice"><%= notice %></p>

<h2 class="center"><%= @lesson.title %></h2>
<h4 class="center">by <%= @lesson.user.username %></h4>

<br/>

<div class="container">

<p>
<%= @lesson.body %>
</p>

</div>

<div class="comment-section container">
  <h3>Comments</h3>

  <% if logged_in? %>
    <%= form_with model: @comment do |f| %>
      <%= f.text_area :text, class:"comment-text"%>
      <%= f.submit "Publish", class: "publish-btn btn" %>
    <% end %>
  <% end # if logged_in? %>

  <br/>

  <div class="comments-container container">
    <% @lesson.comments.each do |comment| %>
    <div class="comment-container container">
      <strong><%= comment.user.username %></strong>: <%= comment.text %>
    </div>
    <% end %>
  </div>
</div>
