    
<div class="row">
<div class="col-md-6 col-md-offset-3">    
    <%= form_with(model: course, local: true) do |form| %>
      <% if course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% course.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%= form.label :title%>
        <%= form.text_field :title, class: 'form-control'   %> 

        <%= form.label :description%>
        <%= form.text_field :description, class: 'form-control'   %>
     
        <%= form.submit "Publish", class: "btn form-btn" %> 
    <% end %>
  </div>
</div>