<!-- For sortable elements -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous">
</script>

<script>
  var sections;
  $(document).ready(function() {

    // If the course has no title or description, don't let the user try to submit it.
    onchange = function() {
      if ($('#course_title').val() == "" || $('#course_description').val() == "") {
        $('#submit-course').attr('disabled', true);
      } else {
        $('#submit-course').attr('disabled', false)
      }
    }

    // Attach the relevant forms to the above function.
    $('#course_title').on('input', onchange);
    $('#course_description').on('input', onchange)
    
    $('#course-form').submit(function() {
      // Create hidden input field with section-lesson structure.
      $("#course-form").append(`<input type="hidden" name=sections value=${JSON.stringify(sections)}></input>`);

      return true;
    });
  });

</script>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: course, local: true, id: 'course-form' do |f| %>
      <% if course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% course.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h3>Create a new course</h3>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <br />

      <%=
        render 'course_viewer',
          course: @course,
          no_progress: true,
          new_course: true,
          f: f
      %>

      <br/>
      <%= render :partial => "layouts/add_tag", :locals => { :f => f } %>

      <hr>

      <input name="commit" type="submit" value="Publish Course" class="btn form-btn" id="submit-course" data-disable-with="Publish Course" disabled>

      <%#= need type="submit" above f.submit "Publish Course", class: "btn form-btn", id: "submit-course" %>
      <br />
    <% end %>
  </div>
</div>
