<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <h1><%= @course.title %></h1>

  <h2>
    <%= @course.description  %>
  </h2>

  <br />
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <ol class="section-head">
        <% @course.course_contents.map { |content| Section.find(content.section_id) }.each do |section| %>
        <li>
          Section name: <%= section.title %> <br />
          <ol>
            <% section.lessons.each do |lesson| %>
            <li>
              Lesson: <%= link_to lesson.title, lesson, class: "btn" %> <br />
              Created by: <%= User.find(lesson.user_id).username %> <br />
            </li>
            <% end %>
            <% if logged_in? %>
              <% if current_user.id == @course.user_id %>
                <%= link_to "Add new lesson to this section", new_lesson_path(:lesson => { :section_id => section.id } ), class: "btn" %>
              <% end %>
            <% end %>
          </ol>
        </li>
        <% end %>

        <% if logged_in? %>
          <% if current_user.id == @course.user_id %>
            <%= link_to "Add new section to this course", new_section_path(@course), class: "btn" %>
          <% end %>
        <% end # if logged_in? %>
      </ol>
    </div>
    <div class="col-sm-8">
      
    </div>
  </div>
</div> 
