<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <strong>Course Title:</strong>
      <%= @course.title %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      [Sections and lessons from this course go here. Also, buttons to let you add more sections and buttons to let you
      add more lessons if this were the "Edit Course" page]
      <ol>
        <% @course.sections.each do |section| %>
        <li>
          Section name: <%= section.title %> <br />
          <ol>
            <% section.lessons.each do |lesson| %>
            <li>
              Lesson: <%= link_to lesson.title, lesson %> <br />
              Created by: <%= lesson.user_id %> <br />
            </li>
            <% end %>
            <%= link_to "Add new lesson to this section", new_lesson_path(:lesson => { :section_id => section.id } ), class: "btn" %>
          </ol>
        </li>
        <% end %>

        <% if current_user.id == @course.user_id %>
          <%= link_to "Add new section to this course", new_section_path(@course), class: "btn" %>
        <% end %>
      </ol>
    </div>
    <div class="col-sm-8">
      
    </div>
  </div>
</div>
