<!--<script>
    $("#check-parent").on("click",function()) {
        if($("#check-parent").is(":checked")) {
            console.log("+ is checked");
            $("#tag-fields").show();
            $("#tag-fields .new-tag").prop("checked",true);
        }
        else {
            console.log("+ is unchecked");
            $("#tag-fields .new-tag").prop("checked",false);
            $("#tag-fields").hide();
        }
    });
</script> -->

<br/>
<hr>
<label class="tag-button">Select Course Tags<br />
<br />
<div class="wrapping">
    
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, {}, class: "toggle1" do |b| %>
        
            <%= b.check_box %>
            <%= b.label class:"toggle" do%>
                <%= b.text.upcase%>
            <% end %>
    <%end%>
    <!--<input type="checkbox" class="toggle1" id="check-parent"> 
    <label for="check-parent" class="toggle"> + </label>
    <div id="tag-fields">
        <%= render :partial => 'tags/form', :locals => { :tag => Tag.new} %>
    </div>-->
</div>




<!--<script type="text/javascript">
    $("input[type="checkbox"]+").on("change", function()){
        $(".tag_fields").toggle();
    });
</script>-->




