<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header class="navbar navbar-default navbar-fixed-top">
  <div class="container navbar-container">
    <%= link_to "Clef", root_path, id: "logo", class: "navbar-brand" %>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><a href="<%= lessons_path %>" class="btn nav-btn btn-outline-secondary"><i class="material-icons">description</i> Lessons</a></li>
            <li><a href="<%= courses_path %>" class="btn nav-btn"><i class="material-icons">library_books</i> Courses</a></li>
            <li><a href="<%= compose_course_path  %>" class="btn nav-btn"><i class="material-icons">library_add</i> Create Course</a></li>
            <li><a href="<%= compose_lesson_path %>" class="btn nav-btn"><i class="material-icons">note_add</i> Compose Lesson</a></li>
            <li><a href="<%= user_path(current_user) %>" class="btn nav-btn"><i class="material-icons">account_circle</i> Profile</a></li>
            <li><%= link_to logout_path, class: "btn nav-btn", method: :delete do %><i class="material-icons">exit_to_app</i> Logout<% end %></li>
          <% else %>
            <li><%= link_to signup_path, class: "btn nav-btn" do %> <i class="material-icons">eperson_add</i> Sign up<% end %></li>
            <li><%= link_to login_path, class: "btn nav-btn" do %><i class="material-icons">account_circle</i> Log In <% end %></li>
          <% end # if logged_in? %>
        </ul>
      </ul>
    </nav>
  </div>
</header>
