<div class="tag-buttons">
    <h4> 
    <%= link_to "Browse By Category", '/tags' %>
    </h4>
    <% tags_to_show.each do |tag| %>
        <%= link_to tag, class:"tag-btn" do %>
            <div class="tag-button">
                <%= tag.name %>
                <!-- <%= link_to tag.name, tag, class: "tag-btn" %> -->
            </div>
        <% end %> 
    <% end %>
    <%= render :partial => 'layouts/create_tags', :locals => { :tag => Tag.new} %>

</div>